@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  box-sizing: border-box;
}

h3 {
    color: #FFCC99;
    font-family: 'Caveat', cursive;
    padding-left: 110px;
}

.brand-logo {
    font-size: xx-large;
    font-family: 'Style Script', cursive;
    
}

nav .nav-wrapper {
    background: #1098F7;
}



.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/* Create three equal columns that sits next to each other */
.card .card-image img {
height: 200px;
/* width: 280px; */
/* width: -webkit-fill-available; */
}

.card .card-image .card-title {
    position: relative;
    color: black;
}
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
      background-color: black;
  }

  .fa-facebook:hover {
      color: white;
      font-size: 2em;
      margin: 3px;
  }

  .fa-twitter:hover {
      color: white;
      font-size: 2em;
      margin: 3px;
  }

  .fa-linkedin:hover {
      color: white;
      font-size: 2em;
      margin: 3px;
  }

  @media (max-width: 600px) {
   .card-title {
    font-size: 10px;
}

}

#footer {
    background: linear-gradient(110deg, #00b7eb 60%, #ffed4b 60%);
    color: white;
    padding-top: 30px;
}

footer li {
    list-style: none;
}
footer li a {
    color: white;
    text-decoration:none; 
}
footer li a:hover {
    color: white; 
    text-decoration:none; 
}

footer ul {
    padding: 0;
    margin: 0;
  }
.footer-heading {
    margin-bottom: 2rem;
  }
.footer-img img {
    width: 80%;
}
.footer-links {
    text-align: center;
    text-transform: uppercase;
}
.social-links{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.social-links a {
    font-size: 25px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
.social-links a:hover {
    text-decoration: none;
    color:rgb(0, 128, 129);
}
.service-links {
    Padding-left : 20px;
}
.copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;    
}
.copyright p {
    margin: 10px;
    color: #ccc;
    text-transform: uppercase;
    font-size: 0.7rem;
}
.highlight {
  color: blanchedalmond;
}
/* push footer down to bottom of the page. 
452px = navbar height(56px) + Footer height(396px) */
.footer-down {
  min-height: calc(100vh - 452px);
}
@media screen and (max-width: 767px){
  .footer-img img{
      padding-bottom: 30px;
      margin-left: 25px;
  }
  .service-links {
    padding: 20px;
    text-align: center;
  }
  }

  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.login, .image {
    min-height: 100vh;
}

.bg-image {
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input, .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}
  