@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  box-sizing: border-box;
}

h3 {
    font-family: 'Caveat', cursive;
    padding-left: 110px;
}

.brand-logo {
    font-size: xx-large;
    font-family: 'Style Script', cursive;
    
}

nav .nav-wrapper {
    background: black;
}



.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/* Create three equal columns that sits next to each other */
.card .card-image img {
height: 200px;
/* width: 280px; */
/* width: -webkit-fill-available; */
}

.card .card-image .card-title {
    position: relative;
    color: black;
}
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
      background-color: black;
  }

  .fa-facebook:hover {
      color: blue;
      font-size: 2em;
      margin: 3px;
  }

  .fa-instagram:hover {
      color: #f09433;
      font-size: 2em;
      margin: 3px;
  }

  .fa-youtube:hover {
      color: red;
      font-size: 2em;
      margin: 3px;
  }

  @media (max-width: 600px) {
   .card-title {
    font-size: 10px;
}

}


#footer {
    background-color: #262626;
    color: white;
    padding-top: 30px;
  
}
footer li {
    list-style: none;
}
footer li a{
    color: gray;
    text-decoration:none; 
}
footer li a:hover{
    color: blanchedalmond; 
    text-decoration:none; 
}
footer ul {
    padding: 0;
    margin: 0;
  }
.footer-heading {
    margin-bottom: 2rem;
  }
.footer-img img {
    width: 80%;
}
.footer-links {
    text-align: center;
    text-transform: uppercase;
}
.social-links{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.social-links a {
    font-size: 25px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
.social-links a:hover {
    text-decoration: none;
    color:rgb(0, 128, 129);
}
.service-links {
    Padding-left : 20px;
}
.copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;    
}
.copyright p {
    margin: 10px;
    color: #ccc;
    text-transform: uppercase;
    font-size: 0.7rem;
}
.highlight {
  color: blanchedalmond;
}
/* push footer down to bottom of the page. 
452px = navbar height(56px) + Footer height(396px) */
.footer-down {
  min-height: calc(100vh - 452px);
}
@media screen and (max-width: 767px){
  .footer-img img{
      padding-bottom: 30px;
      margin-left: 25px;
  }
  .service-links {
    padding: 20px;
    text-align: center;
  }
  }