  <h3 class="light-blue-text text-darken-4 center-align">Add Task</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- category selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Recipe Category</label>
				</div>
            </div>
                <!-- task description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="task_description" name="task_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="task_description">Description</label>
                </div>
            </div>
              <!-- task name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="task_name" name="task_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="task_name">Recipe Name</label>
                </div>
            </div>
                   <!-- Ingredients -->
	        <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="task_ingredients" name="task_ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="{{task_ingredients}}">Ingredients</label>
                </div>
            </div>
                 <!-- Preperation -->
	        <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="task_prep" name="task_pre" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="{{task_prep}}">Preperation</label>
                </div>
            </div>
               <!--Image Url-->
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="input-field ">
                        <i class="fas fa-camera material-icons prefix"></i> {% if image_url %}
                        <input id="image_url" name="image_url" class="validate" type="url" minlength="15" value="{{ task.image_url }}" placeholder="Recipe Photo URL"> {% else %}
                        <input id="image_url" name="image_url" class="validate" type="url" minlength="15" placeholder="Recipe Image URL" pattern="https?://.+"> {% endif %}
                        <label for="image_url">Image Url</label>
                    </div>
                </div>
            </div>
          
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>