{% extends "base.html" %}
{% block content %}

    <!-- category selection -->
			<div class="row">
                <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}"></form>
				<div class="input-field col s12">
                    <i class="fas fas fa-utensils prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate">
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Recipe Category</label>
				</div>
            </div>

    <!--Ingredients-->
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card background">
                <div class="card-content">
                    <span class="card-title center">Ingredients</span>

                    <div class="addIngredient new-ingredient ingredient">
                        <div class="input-field whites-4">
                            <input id="ingredients" type="text" placeholder="1 tomato, chopped" name="ingredients[]"
                                class="ingredients validate" minlength="1" maxlength="100" required>
                        </div>
                    </div>

                    <!-- add button -->
                    <a id="add_ingredient" class="btn waves-effect waves-light light-green"><i
                            class="material-icons">add</i></a>
                    <!-- Remove button -->
                    <a id="remove_ingredient" class="btn waves-effect waves-light red lighten-2"><i
                            class="fas fa-minus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--Preparation-->
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card background">
                <div class="card-content">
                    <span class="card-title center">Preparation</span>

                    <div class="addpreparation preparation new-step">
                        <div class="input-field whites-4">
                            <input id="preparation" type="text" placeholder="List preparation method one per line"
                                name="preparation[]" class="preparation validate" minlength="3"
                                maxlength="600">
                        </div>
                    </div>
                    <!-- add button -->
                    <a id="add_step" class="btn waves-effect waves-light light-green"><i
                            class="material-icons">add</i></a>
                    <!-- remove button -->
                    <a id="remove_step" class="btn waves-effect waves-light red lighten-2"><i
                            class="fas fa-minus"></i></a>
                </div>
            </div>
        </div>
    </div>
           <!--Image Url-->
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="input-field ">
                        <i class="fas fa-camera material-icons prefix"></i> {% if image_url %}
                        <input id="image_url" name="image_url" class="validate" type="url" minlength="15" value="{{ task.image_url }}" placeholder="Recipe Photo URL"> {% else %}
                        <input id="image_url" name="image_url" class="validate" type="url" minlength="15" placeholder="Recipe Image URL" pattern="https?://.+"> {% endif %}
                        <label for="image_url">Image Url</label>
                    </div>
                </div>
            </div>
        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-green text-shadow">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>


{% endblock %}
 