{% extends 'base.html'%} {% block content %}

<section class="container">
    <div class="row center">
        <h3>Edit Your Recipe</h3>
    </div>
    <div class="row">
        <form action="{{ url_for('edit_task', task_id=task._id) }}" method="POST" class="col s12">
            <!-- Author -->
          
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <h6><strong>Recipe Name:</strong></h6>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{ task.task_name }}" minlength="3" maxlength="30" data-length="30" placeholder="Recipe Name" required="">
                </div>
            </div>
            <!-- Description -->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <h6><strong>Description:</strong></h6>
                    <textarea id="description" placeholder="Description of your Recipe" name="description" class="materialize-textarea" inlength="20" maxlength="500" data-length="500" required>{{ task.task_discription }}</textarea>
                </div>
            </div>
                
                    <!-- Cooking Time -->
                    <div class="col s10 offset-s1 m6 l4">
                        <div class="input-field">
                            <i class="fas fa-clock material-icons prefix"></i>
                            <input id="cooking_time" name="cooking_time" type="number" placeholder="Time in minutes" value="{{ task.task_time }}" class="validate" min="1">
                            <label>Cooking Time(min)</label>
                        </div>
                    </div>
                </div>
            </div>
         
            <!--Image Url-->
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="input-field ">
                        <i class="fas fa-camera material-icons prefix"></i> {% if task.image_url %}
                        <input id="image_url" name="image_url" class="validate" type="url" minlength="15" value="{{ task.image_url }}" placeholder="Recipe Photo URL"> {% else %}
                        <input id="image_url" name="image_url" class="validate" type="url" minlength="15" placeholder="Recipe Image URL" pattern="https?://.+"> {% endif %}
                        <label for="image_url">Image Url</label>
                    </div>
                </div>
            </div>
            <!--Ingredients-->
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="card background">
                        <div class="card-content">
                            <span class="card-title center">Ingredients</span>

                            <div class="addIngredient new-ingredient ingredient">
                                <div class="input-field whites-4">
                                    {% for ingredient in task.task_ingredients %}
                                    <textarea id="ingredients" placeholder="200g Butter" name="ingredients[]" class="materialize-textarea ingredients validate" minlength="3" maxlength="200" required>{{ ingredient }}</textarea>
                                 
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- add button -->
                            <a id="add_ingredient" class="btn waves-effect waves-light light-green"><i class="material-icons">add</i></a>
                            <!-- Remove button -->
                            <a id="remove_ingredient" class="btn waves-effect waves-light red lighten-2"><i class="fas fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Preparation-->
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="card background">
                        <div class="card-content">
                            <span class="card-title center">Preparation</span>
                            <div class="addpreparation preparation new-step">
                                <div class="input-field whites-4">
                                    {% for prep in task.task_prep %}
                                    <textarea id="preparation" name="preparation[]" class="preparation validate materialize-textarea" minlength="5" maxlength="500" required>{{ task.task_prep }}</textarea>
                                    {% endfor %}
                                   
                                </div>
                            </div>
                            <!-- add button -->
                            <a id="add_step" class="btn waves-effect waves-light light-green"><i class="material-icons">add</i></a>
                            <!-- removebutton -->
                            <a id="remove_step" class="btn waves-effect waves-light red lighten-2"><i class="fas fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Submit button-->
            <div class="row col s10 offset-s1">
                <button class="btn waves-effect waves-light btn-small grey darken-4" type="submit" name="action">Save Changes</button>
                 <a class="btn  waves-effect btn-small grey darken-4 cancel-form">Cancel</a>
            </div>
        </form>
    </div>
</section>

{% endblock %}
