{% extends "base.html" %}
{% block content %}

<section>

    <!--Ingredients-->
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card background">
                <div class="card-content">
                    <span class="card-title center">Ingredients</span>

                    <div class="addIngredient new-ingredient ingredient">
                        <div class="input-field whites-4">
                            <input id="ingredients" type="text" placeholder="1 tomato, chopped" name="ingredients[]"
                                class="ingredients validate" minlength="1" maxlength="100" required>
                        </div>
                    </div>

                    <!-- add button -->
                    <a id="add_ingredient" class="btn waves-effect waves-light light-green"><i
                            class="material-icons">add</i></a>
                    <!-- Remove button -->
                    <a id="remove_ingredient" class="btn waves-effect waves-light red lighten-2"><i
                            class="fas fa-minus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--Preparation-->
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card background">
                <div class="card-content">
                    <span class="card-title center">Preparation</span>

                    <div class="addpreparation preparation new-step">
                        <div class="input-field whites-4">
                            <input id="preparation" type="text" placeholder="List preparation method one per line"
                                name="preparation[]" class="preparation validate" minlength="3"
                                maxlength="600"></textarea>
                        </div>
                    </div>
                    <!-- add button -->
                    <a id="add_step" class="btn waves-effect waves-light light-green"><i
                            class="material-icons">add</i></a>
                    <!-- remove button -->
                    <a id="remove_step" class="btn waves-effect waves-light red lighten-2"><i
                            class="fas fa-minus"></i></a>
                </div>
            </div>
        </div>
    </div>

    <form method="POST" action="/create" enctype="multipart/form-data">
    <input type="text" name="username">
    <input type="file" name="profile_image">
    <input type="submit">
    </form>
     <!--       <div class="row">
        <div class="col s10 offset-s1">
            <div class="input-field ">
                <i class="fas fa-camera material-icons prefix"></i>
                <input id="profile_image" name="username" class="validate" type="text" minlength="15"
                    placeholder="Recipe Image URL" pattern="https?://.+">
                <label for="profile_image">Image Url</label>
            </div>
        </div>
    </div> -->
        <!--Submit button-->
    <div class="row col s10 offset-s1">
        <button class="btn waves-effect waves-light btn-small grey darken-4" type="submit" name="action">Submit</button>
    </div>
    </form>
    </div>
     <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Task <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
</section>

{% endblock %}