{% extends "base.html" %}
{% block content %}

<h3>Why don't you take a look at our tastsy treats!</h3>

<div class="row">
    {% for task in tasks %}
    <div class="col s12 m4">
        <div class="card">
            {{ task.category_name }}
            <div class="card-image">
            
                <img src="{{ task.image_url }}">
                <span class="card-title">{{ task.task_name }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('view_task', task_id=task._id) }}">This is a link</a>
            </div>
        </div>
    </div>
    <div class="collapsible-body">
        <strong>{{ task.category_name }}</strong>
        <p>{{ task.task_description }}</p>
        <p><em>by: {{ task.created_by }}</em></p>
    </div>
</div>
     {% endfor %}
    
{% endblock %}