{% extends "base.html" %}
{% block content %}

<h3>Why don't you take a look at our tastsy treats!</h3>



<div class="row">
    {% for task in tasks %}
    <div class="col s4 m4">
        <div class="card">
            {{ task.category_name }}
            <div class="card-image">
                <img src="{{ task.image_url }}">
                <span class="card-title">{{ task.task_name }}</span>
            </div>
            <div class="card-content">
                <p>{{ task.task_ingredients }}</p>

            </div>

            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
   
     {% endfor %}
</div>



         <div class="row">
                <div class="col s10 offset-s1">
                    <div class="card background">
                        <div class="card-content">
                            <span class="card-title center">Ingredients</span>

                            <div class="addIngredient new-ingredient ingredient">
                                <div class="input-field whites-4">
                                    <input id="ingredients" type="text" placeholder="1 tomato, chopped"
                                    name="ingredients[]" class="ingredients validate" minlength="1" maxlength="100" required>
                                </div>
                            </div>
                            
                            <!-- add button -->
                            <a id="add_ingredient" class="btn waves-effect waves-light light-green"><i class="material-icons">add</i></a>
                            <!-- Remove button -->
                            <a id="remove_ingredient" class="btn waves-effect waves-light red lighten-2"><i class="fas fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </div>




{% endblock %}