{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 offset-s2 m5 offset-m1 left-align">
        <h3>{{ recipe.name }}</h3>
    </div>
    <div class="col s12 offset-s2 m5 offset-m1 left-align">
        <div>
            <p> <i class="fas fa-clock icon-color"></i> Cooking Time:
                <span>{{ recipe.cooking_time }}</span>
            </p>
        </div>
    </div>
    <div class="col s12 offset-s2 m5 left-align">
        <div>
            <p> <i class="fas fa-utensils icon-color"></i> Category: <span class="">{{ recipe.category_name }}</span>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 offset-s1 recipe-description">
        <p><span class="">{{ recipe.discription }}</span></p>
    </div>
</div>
<section id="Ingredients-Preparation">
    <div class="container">
        <div class="row">
            <!-- ingredients -->
            <div class="col s12 m4 offset-s1 ingredients">
                <div class="row">
                    <div class="col s12 ingredients">
                        <h5>Ingredients</h5>
                        <br>
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                            <li><i class="fas fa-square fa-sm square" aria-hidden="true"></i>
                                {{ ingredient }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Preparation -->
            <div class="col s12 offset-m1  m7 preparation z-depth-1">
                <div class="row">
                    <div class="col s12">
                        <h5 class="center">Preparation</h5>
                        <br>
                        <ol id="preparation-list">
                            {% for prep in recipe.preparation %}
                            <li>
                                {{ prep }}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col s3">
    {% if (session.user == recipe.created_by) or (session.user == "admin") %}
    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small remove-btn red lighten-2">Delete</a>
    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small green lighten-1">Edit</a>
    {% endif %}

    <div class="collapsible-body">
        <strong>{{ recipe.category_name }}</strong>
        <p>{{ recipe.description }}</p>
        <p><em>by: {{ recipe.created_by }}</em></p>
    </div>
</div>

{% endblock %}